.aboutUs-heading {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  margin-bottom: 40px;
  /* border-left: 9px solid #0b2e83; */
  padding-top: 25px;
}
/* .aboutUs-heading::before {
  position: absolute;
  content: "About Us";
  font-size: 77px;
  font-weight: 700;
  bottom: 0;
  color: #eeeeee;
  left: 18%;
  transform: translateX(-50%);
  z-index: -1;
  top: -9%;
} */

.home-heading {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  margin-bottom: 40px;
  /* border-left: 9px solid #0b2e83; */
  padding-top: 25px;
}
/* .home-heading::before {
  position: absolute;
  content: "Services";
  font-size: 77px;
  font-weight: 700;
  bottom: 0;
  color: #eeeeee;
  left: 18%;
  transform: translateX(-50%);
  z-index: -1;
  top: -9%;
} */
