.navbar-home {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  margin: 0px 10px;
}

.navbar-home:hover {
  color: #f58634;
}
.mindsoft-text img {
  /* color: #00afef !important; */
  /* font-weight: 500;
  font-weight: 600; */
  height: 80px;
}
