.missionContainer {
  text-align: left;
}
.highlight {
  color: black;

  font-size: 15px;
}

.hightlightButton {
  height: 100px;
  background-color: #f8f8ff;
  border: transparent;
  margin-right: 20px;
}

.hightlightButtonTwo {
  height: 50px;
  background-color: #f8f8ff;
  border: transparent;
  margin-right: 20px;
}
.hightlightFlex {
  display: flex;

  align-items: center;
}
.rightsideHeading {
  line-height: 32px;
  font-size: 25px;
  color: #373d81;
  font-weight: 700;
  letter-spacing: normal;
  padding-left: 10px;
  border-left: 7px solid #373d81;
}
.missionContainer .overviewHighlight {
  color: black;
  line-height: 32px;
  font-size: 20px;

  letter-spacing: normal;
}
